CustomerHealthCheck/Connected Services/RegisterControllerService/RegisterController1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://microsoft.com/webservices/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="newRegisterInfo">
        <s:complexType />
      </s:element>
      <s:element name="newRegisterInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newRegisterInfoResult" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="assetValue" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="businessName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="consent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CostSale" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditBureauLevel" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="debtStatus" type="tns:DebtStatusType" />
          <s:element minOccurs="1" maxOccurs="1" name="debtValue" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DSCR" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="eventType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="expense" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idCard" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="income" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="industryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="installmentAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="isGetProfit" type="tns:IsGetProfit" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPassCreditBureau" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPassProductCriteria" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LandAsset" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="loanAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanLCTR" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanLG" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanOD" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanOther" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanPN" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LoanTL" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="LoanType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="maritalStatus" type="tns:MaritalType" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="objectiveTerm" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="officeType" type="tns:EstablishmentType" />
          <s:element minOccurs="1" maxOccurs="1" name="ownerAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="personType" type="tns:PersonType" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="provinceCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="regionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requestNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SumAsset" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TCGScoreBand" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TCGScoreBandLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TCGScoreRBP" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TCGScoreTotalScore" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TdrAmount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TdrYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="yearExperience" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="yearIncorporate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="yearInstallment" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DebtStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="NoDebt" />
          <s:enumeration value="OverdueLessThan90" />
          <s:enumeration value="OverdueMoreThan90" />
          <s:enumeration value="TDR" />
          <s:enumeration value="LegalProcess" />
          <s:enumeration value="InstallmentNormal" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="IsGetProfit">
        <s:restriction base="s:string">
          <s:enumeration value="Yes" />
          <s:enumeration value="No" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="MaritalType">
        <s:restriction base="s:string">
          <s:enumeration value="NoShow" />
          <s:enumeration value="Single" />
          <s:enumeration value="Married" />
          <s:enumeration value="Divorce" />
          <s:enumeration value="Widow" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="EstablishmentType">
        <s:restriction base="s:string">
          <s:enumeration value="OfficeOwner" />
          <s:enumeration value="OfficeRental" />
          <s:enumeration value="NoShow" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PersonType">
        <s:restriction base="s:string">
          <s:enumeration value="Person" />
          <s:enumeration value="Corporate" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailInfo" type="tns:EmailInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CCEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="tns:TaskOfResultAPIInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfResultAPIInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Task" />
      <s:element name="GetProvince">
        <s:complexType />
      </s:element>
      <s:element name="GetProvinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvinceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndustryType">
        <s:complexType />
      </s:element>
      <s:element name="GetIndustryTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndustryTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:PersonType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjTerm">
        <s:complexType />
      </s:element>
      <s:element name="GetObjTermResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjTermResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannel">
        <s:complexType />
      </s:element>
      <s:element name="GetChannelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUIDMapRegiterType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUIDMapRegiterTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUIDMapRegiterTypeResult" type="tns:CustomerProfileHistoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerProfileHistoryModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCardType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SureName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Uid_Channel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentStatusRemark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RawData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RawDataObject" type="tns:EFormCallbackMasterResponseModel" />
          <s:element minOccurs="0" maxOccurs="1" name="NDID_IDCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailHistory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNumberHistory" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime_AD" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EFormCallbackMasterResponseModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="request_data" type="tns:RequestData" />
          <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Request" />
          <s:element minOccurs="0" maxOccurs="1" name="identity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reference_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customer_info_th" type="tns:CustomerInfoTh" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_info_en" type="tns:CustomerInfoEn" />
          <s:element minOccurs="0" maxOccurs="1" name="identifier" type="tns:Identifier" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_address_id_card" type="tns:CustomerAddressIdCard" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_address_contact" type="tns:CustomerAddressContact" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_occupation" type="tns:CustomerOccupation" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address" type="tns:OfficeAddress" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_contact" type="tns:CustomerContact" />
          <s:element minOccurs="0" maxOccurs="1" name="customer_biometric" type="tns:CustomerBiometric" />
          <s:element minOccurs="0" maxOccurs="1" name="birth_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInfoTh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="thai_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thai_first_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thai_middle_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thai_last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thai_full_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerInfoEn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="en_title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="en_first_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="en_middle_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="en_last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="en_full_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Identifier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="card_number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="card_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="card_issuing_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="card_issue_date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="card_expiry_date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerAddressIdCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id_card_street_address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_street_address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_subdistrict" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_district" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_zipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id_card_address_full" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerAddressContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contact_street_address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_street_address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_subdistrict" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_district" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_zipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact_address_full" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerOccupation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="occupation_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idp_specific_occupation_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfficeAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="office_street_address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_street_address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address_subdistrict" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address_district" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address_province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address_zipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_address_country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office_full_address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="home_tel_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="home_tel_no_ext" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile_tel_no" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_addr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="non_iso_nationality_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="income" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marital_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerBiometric">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="biometric_data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="biometric_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="biometric_format" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="node_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="request_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="min_idp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="min_aal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="min_ial" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="request_timeout" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="idp_id_list" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="data_request_list" type="tns:ArrayOfDataRequestList" />
          <s:element minOccurs="0" maxOccurs="1" name="request_message_hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response_list" type="tns:ArrayOfResponseList" />
          <s:element minOccurs="1" maxOccurs="1" name="closed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="timed_out" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="request_type" />
          <s:element minOccurs="0" maxOccurs="1" name="requester_node_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="block_height" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDataRequestList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataRequestList" nillable="true" type="tns:DataRequestList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataRequestList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="service_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="as_id_list" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="min_as" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="request_params_hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="response_list" type="tns:ArrayOfResponseList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResponseList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResponseList" nillable="true" type="tns:ResponseList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="as_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="signed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="received_data" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ial" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="aal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idp_id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="valid_ial" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="valid_signature" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUIDMapEnrolment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnrolmentPersonalModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DummyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobilePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDummy" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BaseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RESULT_STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULT_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RESULT_MESSAGE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BaseModelOfEnrolmentPersonalModel">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RESULT_OBJ" type="tns:EnrolmentPersonalModel" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUIDMapEnrolmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUIDMapEnrolmentResult" type="tns:BaseModelOfEnrolmentPersonalModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScoreInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="groupDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="groupShortDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageBG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageScore" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="scoreGroup" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="calculateScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculateScoreResult" type="tns:ScoreInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateDSCR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateDSCRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculateDSCRResult" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateTCGScoreAndRBP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculateTCGScoreAndRBPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculateTCGScoreAndRBPResult" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRegisterInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="score" type="tns:ScoreInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRegisterInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRegisterInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCustomerProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCustomerProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCustomerProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertContactProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="customerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertContactProfileResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRequestPGS10">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRequestPGS10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertRequestPGS10Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFieldData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="score" type="tns:ScoreInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFieldDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertUIDRegisterInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="registerInfoId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="infoType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subInfoType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUIDRegisterInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertUIDRegisterInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegisterInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRegisterInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRegisterInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateConsent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="info" type="tns:RegisterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateConsentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateConsentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCodeFromClinic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicCustomerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicRequestNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCodeFromClinicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCodeFromClinicResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerProfileCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="newRegisterInfoSoapIn">
    <wsdl:part name="parameters" element="tns:newRegisterInfo" />
  </wsdl:message>
  <wsdl:message name="newRegisterInfoSoapOut">
    <wsdl:part name="parameters" element="tns:newRegisterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetProvince" />
  </wsdl:message>
  <wsdl:message name="GetProvinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndustryTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndustryType" />
  </wsdl:message>
  <wsdl:message name="GetIndustryTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndustryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleName" />
  </wsdl:message>
  <wsdl:message name="GetTitleNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjTermSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjTerm" />
  </wsdl:message>
  <wsdl:message name="GetObjTermSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjTermResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannel" />
  </wsdl:message>
  <wsdl:message name="GetChannelSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelResponse" />
  </wsdl:message>
  <wsdl:message name="GetUIDMapRegiterTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUIDMapRegiterType" />
  </wsdl:message>
  <wsdl:message name="GetUIDMapRegiterTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUIDMapRegiterTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUIDMapEnrolmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetUIDMapEnrolment" />
  </wsdl:message>
  <wsdl:message name="GetUIDMapEnrolmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetUIDMapEnrolmentResponse" />
  </wsdl:message>
  <wsdl:message name="calculateScoreSoapIn">
    <wsdl:part name="parameters" element="tns:calculateScore" />
  </wsdl:message>
  <wsdl:message name="calculateScoreSoapOut">
    <wsdl:part name="parameters" element="tns:calculateScoreResponse" />
  </wsdl:message>
  <wsdl:message name="calculateDSCRSoapIn">
    <wsdl:part name="parameters" element="tns:calculateDSCR" />
  </wsdl:message>
  <wsdl:message name="calculateDSCRSoapOut">
    <wsdl:part name="parameters" element="tns:calculateDSCRResponse" />
  </wsdl:message>
  <wsdl:message name="calculateTCGScoreAndRBPSoapIn">
    <wsdl:part name="parameters" element="tns:calculateTCGScoreAndRBP" />
  </wsdl:message>
  <wsdl:message name="calculateTCGScoreAndRBPSoapOut">
    <wsdl:part name="parameters" element="tns:calculateTCGScoreAndRBPResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRegisterInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRegisterInfo" />
  </wsdl:message>
  <wsdl:message name="InsertRegisterInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRegisterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerProfileSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCustomerProfile" />
  </wsdl:message>
  <wsdl:message name="InsertCustomerProfileSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCustomerProfileResponse" />
  </wsdl:message>
  <wsdl:message name="InsertContactProfileSoapIn">
    <wsdl:part name="parameters" element="tns:InsertContactProfile" />
  </wsdl:message>
  <wsdl:message name="InsertContactProfileSoapOut">
    <wsdl:part name="parameters" element="tns:InsertContactProfileResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRequestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRequest" />
  </wsdl:message>
  <wsdl:message name="InsertRequestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRequestResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRequestPGS10SoapIn">
    <wsdl:part name="parameters" element="tns:InsertRequestPGS10" />
  </wsdl:message>
  <wsdl:message name="InsertRequestPGS10SoapOut">
    <wsdl:part name="parameters" element="tns:InsertRequestPGS10Response" />
  </wsdl:message>
  <wsdl:message name="InsertFieldDataSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFieldData" />
  </wsdl:message>
  <wsdl:message name="InsertFieldDataSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFieldDataResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUIDRegisterInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUIDRegisterInfo" />
  </wsdl:message>
  <wsdl:message name="InsertUIDRegisterInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUIDRegisterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRegisterInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRegisterInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateRegisterInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRegisterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateConsentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateConsent" />
  </wsdl:message>
  <wsdl:message name="UpdateConsentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateConsentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCodeFromClinicSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCodeFromClinic" />
  </wsdl:message>
  <wsdl:message name="UpdateCodeFromClinicSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCodeFromClinicResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUID" />
  </wsdl:message>
  <wsdl:message name="UpdateUIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="RegisterControllerSoap">
    <wsdl:operation name="newRegisterInfo">
      <wsdl:input message="tns:newRegisterInfoSoapIn" />
      <wsdl:output message="tns:newRegisterInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <wsdl:input message="tns:GetProvinceSoapIn" />
      <wsdl:output message="tns:GetProvinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndustryType">
      <wsdl:input message="tns:GetIndustryTypeSoapIn" />
      <wsdl:output message="tns:GetIndustryTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleName">
      <wsdl:input message="tns:GetTitleNameSoapIn" />
      <wsdl:output message="tns:GetTitleNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjTerm">
      <wsdl:input message="tns:GetObjTermSoapIn" />
      <wsdl:output message="tns:GetObjTermSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <wsdl:input message="tns:GetChannelSoapIn" />
      <wsdl:output message="tns:GetChannelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapRegiterType">
      <wsdl:input message="tns:GetUIDMapRegiterTypeSoapIn" />
      <wsdl:output message="tns:GetUIDMapRegiterTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapEnrolment">
      <wsdl:input message="tns:GetUIDMapEnrolmentSoapIn" />
      <wsdl:output message="tns:GetUIDMapEnrolmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculateScore">
      <wsdl:input message="tns:calculateScoreSoapIn" />
      <wsdl:output message="tns:calculateScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculateDSCR">
      <wsdl:input message="tns:calculateDSCRSoapIn" />
      <wsdl:output message="tns:calculateDSCRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculateTCGScoreAndRBP">
      <wsdl:input message="tns:calculateTCGScoreAndRBPSoapIn" />
      <wsdl:output message="tns:calculateTCGScoreAndRBPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRegisterInfo">
      <wsdl:input message="tns:InsertRegisterInfoSoapIn" />
      <wsdl:output message="tns:InsertRegisterInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerProfile">
      <wsdl:input message="tns:InsertCustomerProfileSoapIn" />
      <wsdl:output message="tns:InsertCustomerProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertContactProfile">
      <wsdl:input message="tns:InsertContactProfileSoapIn" />
      <wsdl:output message="tns:InsertContactProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <wsdl:input message="tns:InsertRequestSoapIn" />
      <wsdl:output message="tns:InsertRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequestPGS10">
      <wsdl:input message="tns:InsertRequestPGS10SoapIn" />
      <wsdl:output message="tns:InsertRequestPGS10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFieldData">
      <wsdl:input message="tns:InsertFieldDataSoapIn" />
      <wsdl:output message="tns:InsertFieldDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUIDRegisterInfo">
      <wsdl:input message="tns:InsertUIDRegisterInfoSoapIn" />
      <wsdl:output message="tns:InsertUIDRegisterInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegisterInfo">
      <wsdl:input message="tns:UpdateRegisterInfoSoapIn" />
      <wsdl:output message="tns:UpdateRegisterInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConsent">
      <wsdl:input message="tns:UpdateConsentSoapIn" />
      <wsdl:output message="tns:UpdateConsentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeFromClinic">
      <wsdl:input message="tns:UpdateCodeFromClinicSoapIn" />
      <wsdl:output message="tns:UpdateCodeFromClinicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUID">
      <wsdl:input message="tns:UpdateUIDSoapIn" />
      <wsdl:output message="tns:UpdateUIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegisterControllerSoap" type="tns:RegisterControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newRegisterInfo">
      <soap:operation soapAction="http://microsoft.com/webservices/newRegisterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://microsoft.com/webservices/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <soap:operation soapAction="http://microsoft.com/webservices/GetProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndustryType">
      <soap:operation soapAction="http://microsoft.com/webservices/GetIndustryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleName">
      <soap:operation soapAction="http://microsoft.com/webservices/GetTitleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjTerm">
      <soap:operation soapAction="http://microsoft.com/webservices/GetObjTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <soap:operation soapAction="http://microsoft.com/webservices/GetChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapRegiterType">
      <soap:operation soapAction="http://microsoft.com/webservices/GetUIDMapRegiterType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapEnrolment">
      <soap:operation soapAction="http://microsoft.com/webservices/GetUIDMapEnrolment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateScore">
      <soap:operation soapAction="http://microsoft.com/webservices/calculateScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateDSCR">
      <soap:operation soapAction="http://microsoft.com/webservices/calculateDSCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateTCGScoreAndRBP">
      <soap:operation soapAction="http://microsoft.com/webservices/calculateTCGScoreAndRBP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegisterInfo">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertRegisterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerProfile">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertCustomerProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContactProfile">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertContactProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequestPGS10">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertRequestPGS10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFieldData">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertFieldData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUIDRegisterInfo">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertUIDRegisterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegisterInfo">
      <soap:operation soapAction="http://microsoft.com/webservices/UpdateRegisterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsent">
      <soap:operation soapAction="http://microsoft.com/webservices/UpdateConsent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeFromClinic">
      <soap:operation soapAction="http://microsoft.com/webservices/UpdateCodeFromClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUID">
      <soap:operation soapAction="http://microsoft.com/webservices/UpdateUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegisterControllerSoap12" type="tns:RegisterControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newRegisterInfo">
      <soap12:operation soapAction="http://microsoft.com/webservices/newRegisterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://microsoft.com/webservices/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvince">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndustryType">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetIndustryType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleName">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetTitleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjTerm">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetObjTerm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapRegiterType">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetUIDMapRegiterType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUIDMapEnrolment">
      <soap12:operation soapAction="http://microsoft.com/webservices/GetUIDMapEnrolment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateScore">
      <soap12:operation soapAction="http://microsoft.com/webservices/calculateScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateDSCR">
      <soap12:operation soapAction="http://microsoft.com/webservices/calculateDSCR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculateTCGScoreAndRBP">
      <soap12:operation soapAction="http://microsoft.com/webservices/calculateTCGScoreAndRBP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegisterInfo">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertRegisterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerProfile">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertCustomerProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContactProfile">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertContactProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequestPGS10">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertRequestPGS10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFieldData">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertFieldData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUIDRegisterInfo">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertUIDRegisterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegisterInfo">
      <soap12:operation soapAction="http://microsoft.com/webservices/UpdateRegisterInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsent">
      <soap12:operation soapAction="http://microsoft.com/webservices/UpdateConsent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeFromClinic">
      <soap12:operation soapAction="http://microsoft.com/webservices/UpdateCodeFromClinic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUID">
      <soap12:operation soapAction="http://microsoft.com/webservices/UpdateUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterController">
    <wsdl:port name="RegisterControllerSoap" binding="tns:RegisterControllerSoap">
      <soap:address location="https://chatclinic.tcg.or.th/customerhealth_testprod/API/RegisterController.asmx" />
    </wsdl:port>
    <wsdl:port name="RegisterControllerSoap12" binding="tns:RegisterControllerSoap12">
      <soap12:address location="https://chatclinic.tcg.or.th/customerhealth_testprod/API/RegisterController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>